

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 1 ;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-image: -webkit-linear-gradient(#6f8d8d, #e5f3f3)
}

img {
    max-width: 200px;
    padding: 5px;
    border-radius: 15px;
    opacity: 0.6;
}

.resources {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0% 10%;
    gap: 25%;
    color: darkorchid;
}

 .resources i {
    text-align: center;
    font-size: larger;
    max-width: 200px;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25%;
}

.icons a {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

a:hover,
i:hover {
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in;
    color: darkolivegreen;
}


main {
    /* max-width: 100%; */
    width: 100%;
    margin: 0 auto;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/31/21/24/light-graffiti-1943762_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(20, 69, 90, 0.7), rgba(208, 239, 242, 0.3)), url( https://cdn.pixabay.com/photo/2016/12/31/21/24/light-graffiti-1943762_640.jpg);
}

h2 {
    margin: 10px 12%;
    padding-top: 20px;
    font-size: 200%;
    font-weight: bolder;
    color: rgb(2, 2, 56);
}

p {
    margin: 10px 10px;
    padding-left: 10%;
    width: 80%;
    text-align: right;
    color: rgb(10, 42, 115);
}














 /* background-color: gainsboro; */