

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 1 ;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-image: -webkit-linear-gradient(#6f8d8d, #e5f3f3)
}

img {
    max-width: 200px;
    padding: 5px;
    border-radius: 15px;
    opacity: 0.6;
}

.resources {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0% 10%;
    gap: 25%;
    color: darkorchid;
}

 .resources i {
    text-align: center;
    font-size: larger;
    max-width: 200px;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25%;
}

.icons a {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

a:hover,
i:hover {
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in;
    color: darkolivegreen;
}


main {
    max-width: 1200px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-image: url(https://media.istockphoto.com/id/1401460590/photo/businessman-working-on-laptop-with-document-management-icon.webp?b=1&s=612x612&w=0&k=20&c=p2tYxuQPPuesnEj6My_dQ31bR3BQn49vvJ2IninnJZo=);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(90,20,20, .5), 
    rgba(90,20,20, .5));
    
}














 /* background-color: gainsboro; */